/* Stylesheet for Chat Builder */

/* General Items */

body {
  font-family: Arial, sans-serif;
}
  
div{
  /*border:1px solid blue;*/
  margin:0em;
}

h1{
  color: navy;
  font-size:1.2em;
}

h2{
  color: darkblue;
}

h3{
  color:steelblue;
}

h4{
  color: steelblue;
  font-style: italic;
}

.topright{
  z-index: 10;  
  position: absolute;
  right: 0.5em;  
  top: 1em;
}


/* Composition Panel */

#compositionPanel{
  position: fixed;
  bottom: 0px;
  background-color: white;
  border: none; /*1px solid black;*/
  padding:1em;
  margin-left: -1em;
  width:100%;
  filter: drop-shadow(black 0em 0em 0.125em);
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  display:flex;
}

#compositionField{
  resize:horizontal;
  font-family: Arial, Helvetica, sans-serif;
  font-size:0.9em;
  margin-top:auto;
  margin-bottom:auto;
}

#copyAndClearTextButton{
  width:1.75em;
  height:1.65em;
  margin-top:auto;
  margin-bottom:auto;
  margin-left: 0.25em;
  font-size: 2em;
  padding:0em;
}

/*
#copiedConfirmationText{
  visibility: hidden;
  color:green;
}*/


/* Radio Button Tabs */
/* Custom implementation for security */

/* Just hide the actual radio buttons */ 
.radioTab{
  display: none;
}

/* These are the actual tab ends */ 
.labelTab{
  cursor:pointer;
  display: inline-block;
  padding: 0.5em;
  margin:0;
  margin-inline:-0.16em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}


/* Reference Panel */
/* Contains stage info cards */
.referencePanelDivs{
  margin:0em;
}

/* Stage Info Cards hidden by default */ 
.stageInfoCards{
  display: none;
  padding-bottom: 5em;
}

/* Copyable bits of text */ 
.copyables{
  display: inline-block;
  cursor: pointer;
  border: 1px dotted CornflowerBlue;
  border-radius: 0.25em;
  background-color: aliceblue;
  padding-left: 0.125em;
  padding-right: 0.125em;
  padding-bottom: 0.125em;
  user-select: none;
  margin-bottom: 0.5em;
  margin-right: 0.125em;
}

/* This is for the quick-copy phrases */
.copyables:hover{
  background-color: dodgerblue;
  color:white;
}

/* This is for the moment in which they're being clicked */
.copyables:active{
  background-color: aquamarine;
}

/* Decorative styling for choosable bits of text */ 
.choosables{
  display: inline-block;
  cursor: pointer;
  border: 1px dotted darkorchid;
  border-radius: 0.25em;
  background-color: lavender;
  padding-left: 0.125em;
  padding-right: 0.125em;
  padding-bottom: 0.125em;
  user-select: none;
  margin-bottom: 0.5em;
  margin-right: 0.125em;
}

/* This is for the quick-copy phrases */
.choosables:hover{
  background-color: mediumslateblue;
}

/* This is for the moment in which they're being clicked */
.choosables:active{
  background-color: fuchsia;
}



/* Random text pickers */ 
.randomables{
  display: inline-block;
  cursor: pointer;
  border: 1px dotted forestgreen;
  border-radius: 0.25em;
  background-color: honeydew;
  padding-left: 0.125em;
  padding-right: 0.125em;
  padding-bottom: 0.125em;
  user-select: none;
  margin-bottom: 0.5em;
  margin-right: 0.125em;
}

/* This is for the quick-copy phrases */
.randomables:hover{
  background-color: limegreen;
  color:white;
}

/* This is for the moment in which they're being clicked */
.randomables:active{
  background-color: chartreuse;
}

/* Non-copyable bits of text */ 
.manuals{
  display: inline-block;
  cursor: not-allowed;
  border: 1px dotted gray;
  border-radius: 0.25em;
  background-color: whitesmoke;
  padding-left: 0.125em;
  padding-right: 0.125em;
  padding-bottom: 0.125em;
  user-select: none;
  margin-bottom: 0.5em;
  margin-right: 0.125em;
}
